version: '2'

services:
  jenkins:
     image: jenkins:2.60.3
     restart: always
     container_name: jenkins
     privileged: true
     hostname: jenkins
     ports:
       - "8888:8080"
       - "50000:50000"
     volumes:
       - /home/hzq/jenkins:/var/jenkins_home
       - /root/.ssh:/root/.ssh