version: '2'

services:
  jenkins:
     image: jenkins:2.60.3
     restart: always
     container_name: jenkins
     privileged: true
     hostname: jenkins
     ports:
       - "8080:8080"
       - "50000:50000"
     volumes:
       - /home/hzq/jenkins:/var/jenkins_home jenkins
       - /home/hzq/jenkins/adminpwd:/var/jenkins_home/secrets/initialAdminPassword